@import "./variables";

body {
	background-repeat: no-repeat;
	background-attachment: fixed;

	overflow-x: hidden;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

a,
a:link,
a:visited {
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
ul,
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
img,
svg {
	max-width: 100%;
	height: auto;
}
address {
	font-style: normal;
}
input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
	display: block;
}

textarea {
	resize: none;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	border: none;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* ========================== Container ========================== */

.container {
	max-width: 1222px;
	width: 100%;
	margin: 0 auto;

	@media (max-width: 1236px) {
		padding: 0 20px;
	}
}

/* ========================== /Container ========================== */

.marquee {
	background-color: $defaultColorRed;
	color: #fff;

	.marquee__inner {
		display: flex;

		padding: 18px 0;

		.marquee__item {
			display: flex;
			align-items: center;
			font-size: 22px;
			font-weight: 400;

			&::after {
				display: block;

				content: "";

				height: 6px;
				width: 6px;
				border-radius: 50%;

				margin: 0 10px;
				background-color: #fff;
			}
		}
	}
}

.switch--bottom {
	display: none;
	justify-content: center;

	margin-top: 40px;

	@media (max-width: 992px) {
		display: flex;
	}
}
.members__slider {
	margin-top: 60px;
	overflow: hidden;
	width: 1222px;
	margin: 60px auto 0;

	@media (max-width: 1280px) {
		width: 800px;
	}

	@media (max-width: 992px) {
		width: 375px;
	}

	.slider__line {
		display: flex;

		gap: 131px;

		position: relative;
		left: 0;

		transition: all ease 1s;

		// @media (max-width: 992px) {
		// 	gap: 30px;
		// }

		.slider__item {
			margin: 2px 0;

			text-align: center;
			min-width: 320px;
			&:first-child {
				margin-left: 27px;
			}

			@media (max-width: 400px) {
				min-width: 250px;
			}

			.name {
				margin-top: 28px;

				font-size: 24px;
				font-weight: 600;
				font-family: $fontGolosText;
			}

			.status {
				margin-top: 6px;

				font-size: 20px;
				font-weight: 400;
				font-family: $fontGolosText;

				color: rgba(49, 49, 49, 1);
			}
		}
	}
}
