/* ========================== Defaults ========================== */

$mainBlueColor: #0297d4;
$mainBlueColorHover: rgba(2, 151, 212, 0.8);
$mainBlueColorClicked: #077aa9;

$secondaryBGColor: #f3f6f9;

$blockMarginDesktop: 100px;
$blockMarginLaptop: 70px;
$blockMarginMobile: 40px;

$desktopBP: 1400px;
$laptopBP: 1200px;
$tabletBP: 992px;
$mobileFirstBP: 768px;
$mobileSecondBP: 576px;

h1 {
	font-size: 40px;
	font-weight: bold;

	@media (max-width: $laptopBP) {
		font-size: 30px;
	}

	@media (max-width: $mobileFirstBP) {
		font-size: 20px;
	}

	@media (max-width: $mobileSecondBP) {
		font-size: 16px;
	}
}

/* ========================== /Defaults ========================== */

/* ========================== Header ========================== */

.header__logo,
.footer__logo {
	height: 112px;
	width: 112px;
}

.header {
	.header__inner {
		padding: 0px 100px;
		height: 150px;
		position: relative;

		background-color: black;

		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: white;

		@media (max-width: $desktopBP) {
			padding: 10px;
		}

		.header__right {
			display: flex;
			align-items: center;
			gap: 135px;

			@media (max-width: $desktopBP) {
				gap: 70px;
			}

			@media (max-width: $tabletBP) {
				display: none;
			}

			.header__nav {
				display: flex;
				gap: 80px;

				.nav__link {
					text-transform: uppercase;
					font-size: 20px;

					@media (max-width: $desktopBP) {
						font-size: 16px;
					}

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	.mobile__header__menu {
		position: absolute;

		background-color: white;
		top: 0;

		width: 0%;
		visibility: none;
		opacity: 0;
		height: 0;

		transition: opacity 0.3s ease;

		* {
			display: none;
		}

		&.mobile__header__menu--active {
			width: 100%;
			height: 100vh;

			visibility: visible;
			opacity: 1;

			* {
				display: block;
			}
		}

		.mobile__header__menu__inner {
			display: flex;
			flex-direction: column;
			align-items: center;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			.header__nav {
				display: flex;
				flex-direction: column;
				gap: 40px;

				margin-bottom: 40px;

				.nav__link {
					font-size: 40px;

					@media (max-width: $mobileSecondBP) {
						font-size: 24px;
					}
				}
			}
		}
	}
}

/* ========================== /Header ========================== */

/* ========================== Banner-block ========================== */

.banner-block {
	background-image: url("../images/other/banner.jpg");
	background-repeat: no-repeat;

	font-weight: bold;
	height: 140px;

	margin-bottom: $blockMarginDesktop;

	@media (max-width: $mobileFirstBP) {
		display: none;
	}

	.banner-block__inner {
		text-align: center;
		color: white;

		height: 140px;

		margin-top: auto;
		margin-bottom: auto;
		display: flex;
		align-items: center;
		justify-content: center;

		font-size: 50px;

		@media (max-width: $tabletBP) {
			font-size: 30px;
		}

		a {
			color: #6ad3ff;
			text-decoration: underline;
		}

		&.banner-block__inner--second {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.banner-block__inner__left {
				display: flex;
				align-items: center;
				gap: 36px;

				font-size: 40px;

				@media (max-width: $tabletBP) {
					font-size: 24px;
				}
			}
		}
	}
}

/* ========================== /Banner-block ========================== */

/* ========================== Tow-cars ========================== */

.tow-cars {
	margin-bottom: $blockMarginDesktop;
	background-color: secondaryBGColor;

	@media (max-width: $laptopBP) {
		margin-bottom: $blockMarginLaptop;
	}

	@media (max-width: $mobileFirstBP) {
		margin-bottom: $blockMarginMobile;
	}

	.tow-cars__inner {
		display: flex;
		flex-direction: column;
		gap: 45px;

		.tow-cars__item {
			padding: 40px 50px;
			box-shadow: 2px 2px 10px 2px rgba(39, 52, 58, 0.15);

			border-radius: 20px;

			display: flex;
			flex-direction: column;
			gap: 30px;

			.tow-cars__item__title {
				font-size: 32px;
				font-weight: bold;
			}

			.tow-cars__item__inner {
				display: grid;

				grid-template-columns: minmax(200px, 415px) minmax(200px, 500px) minmax(200px, 330px);
				justify-content: space-between;
				gap: 15px;

				@media (max-width: $laptopBP) {
					display: flex;
					flex-direction: column;
				}

				.tow-cars__item__image {
					height: 330px;
					width: 415px;

					object-fit: cover;

					border-radius: 10px;
				}

				.tow-cars__item__info {
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					@media (max-width: $laptopBP) {
						gap: 10px;
					}

					.info__item {
						display: flex;
						justify-content: space-between;
						align-items: center;
						gap: 5px;

						background-color: #f2f4f8;

						border-radius: 10px;

						padding: 16px 20px;

						font-size: 20px;
						color: #777777;

						@media (max-width: $mobileSecondBP) {
							font-size: 16px;
						}

						.value {
							font-weight: bold;

							white-space: nowrap;
						}
					}
				}

				.tow-cars__item__contacts {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					gap: 10px;

					.contact__item {
						display: flex;
						align-items: center;
						gap: 10px;

						justify-content: center;

						font-size: 20px;

						padding: 16px 0;

						svg {
							width: 24px;
							height: 24px;
						}

						transition: all 0.3s ease-in-out;

						&.contact__item--small {
							font-size: 20px;

							background-color: $mainBlueColor;
							color: white;

							border-radius: 50px;
							flex: 1;

							cursor: pointer;

							&:hover {
								background-color: $mainBlueColorHover;
							}

							&:focus {
								background-color: $mainBlueColorClicked;
							}
						}

						&.contact__item--large {
							flex-direction: column;
							gap: 12px;
							background-color: #fff5cc;
							align-items: flex-start;

							border-radius: 10px;

							flex: 3;

							padding-left: 20px;

							.top {
								display: flex;
								align-items: center;

								.title {
									color: #777777;
								}
							}

							.bot {
								color: #1b1e1f;
							}
						}

						&.contact__item--transparent {
							flex-direction: column;

							border: 1px solid $mainBlueColor;
							background-color: transparent;
							color: $mainBlueColor;

							text-align: center;

							&:hover {
								background-color: $mainBlueColorHover;
								color: white;
							}

							&:focus {
								background-color: $mainBlueColorClicked;
								color: white;
							}
						}
					}
				}
			}
		}
	}

	.tow-cars__pagination {
		margin-top: 65px;

		display: flex;
		gap: 20px;
		justify-content: center;

		.pagination__item {
			height: 52px;
			width: 52px;

			text-align: center;
			line-height: 52px;

			font-size: 26px;
			font-weight: bold;

			border-radius: 6px;

			border: 1px solid $mainBlueColor;
			color: $mainBlueColor;

			&.pagination__item--active {
				color: white;
				background-color: $mainBlueColor;
			}
		}
	}
}

/* ========================== /Tow-cars ========================== */

/* ========================== Cheap-evac ========================== */

.cheap-evac {
	margin-bottom: $blockMarginDesktop;

	@media (max-width: $laptopBP) {
		margin-bottom: $blockMarginLaptop;
	}

	@media (max-width: $mobileFirstBP) {
		margin-bottom: $blockMarginMobile;
	}

	.cheap-evac__inner {
		display: flex;
		justify-content: space-between;
		gap: 10px;

		@media (max-width: $laptopBP) {
			flex-direction: column;
		}

		@media (max-width: $desktopBP) {
			img {
				width: 550px;
				height: 500px;

				margin: 0 auto;
			}
		}

		@media (max-width: $tabletBP) {
			img {
				width: 350px;
				height: 300px;
			}
		}

		.cheap-evac__inner__text {
			display: flex;
			flex-direction: column;
			gap: 50px;

			.main__text {
				font-size: 26px;

				@media (max-width: $tabletBP) {
					font-size: 16px;
				}

				p + p {
					margin-top: 40px;

					@media (max-width: $tabletBP) {
						margin-top: 20px;
					}
				}
			}
		}
	}
}

/* ========================== /Cheap-evac ========================== */

/* ========================== Evac-info ========================== */

.evac-info {
	background-color: #fff5cc;
	padding: 100px 0px;

	margin-bottom: $blockMarginDesktop;

	@media (max-width: $laptopBP) {
		margin-bottom: $blockMarginLaptop;
	}

	@media (max-width: $mobileFirstBP) {
		margin-bottom: $blockMarginMobile;
	}

	@media (max-width: $laptopBP) {
		padding: 50px 0px;
	}

	@media (max-width: $mobileFirstBP) {
		padding: 20px 0px;
	}

	.evac-info__inner {
		h1 {
			margin-bottom: 50px;
		}

		.evac-info__inner__items {
			display: flex;
			justify-content: space-between;
			gap: 20px;

			@media (max-width: $mobileFirstBP) {
				flex-direction: column;
			}

			.evac-info__inner__item {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 30px;

				img {
					@media (max-width: $laptopBP) {
						height: 200px;
					}
				}

				.text {
					font-size: 26px;
					line-height: 33px;

					@media (max-width: $laptopBP) {
						font-size: 20px;
						line-height: 25px;
					}

					@media (max-width: $tabletBP) {
						font-size: 16px;
						line-height: 20px;
					}
				}
			}
		}
	}
}

/* ========================== /Evac-info ========================== */

/* ========================== Price-form  ========================== */

.price-form {
	margin-bottom: $blockMarginDesktop;
	background-color: secondaryBGColor;

	@media (max-width: $laptopBP) {
		margin-bottom: $blockMarginLaptop;
	}

	@media (max-width: $mobileFirstBP) {
		margin-bottom: $blockMarginMobile;
	}

	.price-form__inner {
		h1 {
			margin-bottom: 50px;
		}

		.subtitle {
			margin-bottom: 20px;

			font-size: 26px;

			@media (max-width: $laptopBP) {
				font-size: 20px;
				line-height: 25px;
			}

			@media (max-width: $tabletBP) {
				font-size: 16px;
				line-height: 20px;
			}
		}

		.subtitle2 {
			margin-bottom: 90px;

			font-size: 26px;
			font-weight: bold;

			@media (max-width: $laptopBP) {
				font-size: 20px;
				line-height: 25px;
			}

			@media (max-width: $tabletBP) {
				font-size: 16px;
				line-height: 20px;
			}
		}

		.price-form__inner__items {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			gap: 24px;
			justify-content: space-between;

			@media (max-width: $laptopBP) {
				grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

				row-gap: 100px;
			}

			.price-form__inner__item {
				position: relative;

				background-color: $mainBlueColor;

				border-radius: 20px;

				height: 270px;

				@media (max-width: $laptopBP) {
					height: 200px;
				}

				text-align: center;

				padding: 20px 5px;

				color: white;
				font-size: 20px;

				.circle {
					position: absolute;

					background-color: $mainBlueColor;

					z-index: -1;

					width: 150px;
					height: 150px;
					border-radius: 50%;

					top: 0%;
					left: 50%;

					transform: translate(-50%, -50%);

					img {
						margin-top: 10px;
					}
				}

				.title {
					width: 250px;

					margin: 0 auto 20px;

					font-weight: bold;
				}

				.text {
					font-size: 18px;

					width: 250px;

					margin: 0 auto;

					@media (max-width: $laptopBP) {
						width: 100%;
					}
				}
			}
		}
	}
}

/* ========================== /Price-form  ========================== */

/* ========================== Pros ========================== */

.pros {
	.pros__inner {
		margin-bottom: 100px;

		h1 {
			margin-bottom: 50px;
		}

		.pros__inner__main {
			display: flex;
			gap: 50px;

			@media (max-width: $desktopBP) {
				flex-direction: column;
			}

			.pros__inner__main__left {
				.subtitle {
					margin-bottom: 26px;
				}

				.title {
					font-size: 26px;
					font-weight: bold;

					margin-bottom: 40px;

					@media (max-width: $laptopBP) {
						font-size: 20px;
						line-height: 25px;
					}

					@media (max-width: $tabletBP) {
						font-size: 16px;
						line-height: 20px;
					}
				}

				.inner__text {
					list-style-position: outside;

					li {
						max-width: 700px;
						font-size: 26px;

						padding-left: 24px;
						margin-left: 35px;
						position: relative;

						@media (max-width: $laptopBP) {
							font-size: 20px;
							line-height: 25px;
						}

						@media (max-width: $tabletBP) {
							font-size: 16px;
							line-height: 20px;
						}

						&::before {
							content: url(../images/svg/list-mark.svg);
							position: absolute;
							left: -36px;
							top: 0px;
						}
					}

					li + li {
						margin-top: 32px;
					}
				}
			}
		}
	}

	.pros__questions {
		display: flex;
		align-items: flex-start;
		gap: 50px;

		margin-bottom: $blockMarginDesktop;

		@media (max-width: $tabletBP) {
			flex-direction: column;
		}

		@media (max-width: $mobileSecondBP) {
			gap: 20px;
		}

		.pros__questions__item {
			padding: 50px;
			background-color: #fff5cc;

			flex-basis: 49%;

			border-radius: 20px;

			@media (max-width: $tabletBP) {
				padding: 20px;
			}

			.title {
				font-size: 26px;
				font-weight: bold;

				margin-bottom: 32px;

				@media (max-width: $laptopBP) {
					font-size: 20px;
					line-height: 25px;
				}

				@media (max-width: $tabletBP) {
					font-size: 16px;
					line-height: 20px;
				}
			}

			.text {
				font-size: 26px;

				@media (max-width: $laptopBP) {
					font-size: 20px;
					line-height: 25px;
				}

				@media (max-width: $tabletBP) {
					font-size: 16px;
					line-height: 20px;
				}

				div + div {
					margin-top: 20px;
				}
			}
		}
	}
}

/* ========================== /Pros ========================== */

/* ========================== Evac-slider ========================== */

.evac-slider {
	background-color: $secondaryBGColor;

	padding: 50px 0;

	.evac-slider__inner {
		h1 {
			margin-bottom: 50px;
		}

		.subtitle {
			font-size: 26px;

			@media (max-width: $laptopBP) {
				font-size: 20px;
				line-height: 25px;
			}

			@media (max-width: $tabletBP) {
				font-size: 16px;
				line-height: 20px;
			}

			margin-bottom: 20px;
		}

		.slider__block {
			.slider__title {
				font-size: 26px;
				font-weight: 600;

				margin-bottom: 36px;

				@media (max-width: $laptopBP) {
					font-size: 20px;
					line-height: 25px;
				}

				@media (max-width: $tabletBP) {
					font-size: 16px;
					line-height: 20px;
				}
			}

			.slider__wrapper {
				position: relative;

				.slider__wrapper__inner {
					margin-left: auto;
					margin-right: auto;
					overflow: hidden;
					width: 100%;
					padding: 10px;

					.slider__items {
						display: flex;

						.slider__item {
							padding: 40px;

							flex-shrink: 0;

							box-shadow: 2px 2px 10px 2px rgba($color: #27343a, $alpha: 0.15);

							border-radius: 20px;

							@media (max-width: $mobileFirstBP) {
								padding: 10px;
							}

							.title {
								font-size: 20px;
								font-weight: bold;
							}

							.slider__image {
								height: 320px;
								width: 600px;

								margin: 20px 0px;

								@media (max-width: $mobileFirstBP) {
									height: 150px;
									width: 250px;
								}
							}

							.slider__text {
								font-size: 20px;

								@media (max-width: $tabletBP) {
									font-size: 16px;
								}

								@media (max-width: $mobileFirstBP) {
									font-size: 12px;
								}
							}
						}
					}

					.slider__buttons {
						.arrow__button {
							position: absolute;
							top: 50%;

							height: 50px;
							width: 50px;
							line-height: 45px;

							@media (max-width: $laptopBP) {
								height: 35px;
								width: 35px;
								line-height: 30px;
								font-size: px;
							}

							border: 1px solid $mainBlueColor;
							border-radius: 6px;
							text-align: center;

							font-size: 32px;
							color: $mainBlueColor;

							transition: all 0.3s ease-in-out;

							cursor: pointer;

							&:hover {
								color: white;
								background-color: $mainBlueColor;
							}

							&.prev {
								left: -100px;

								@media (max-width: 1750px) {
									left: 0px;
								}
							}

							&.next {
								right: -100px;

								@media (max-width: 1750px) {
									right: 0px;
								}
							}
						}
					}

					.slider__pagination {
						display: flex;
						gap: 5px;
						justify-content: center;

						margin-top: 20px;
						.slider__pagination__item {
							display: inline-block;
							width: 10px;
							height: 10px;
							border-radius: 5px;

							background-color: $mainBlueColor;
							opacity: 0.3;
						}

						.slider__pagination__item--active {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

/* ========================== /Evac-slider ========================== */

/* ========================== Evac-guide ========================== */

.evac-guide {
	background-color: #fff5cc;

	@media (max-width: 1850px) {
		display: none;
	}

	.evac-guide__inner {
		.inner__text {
			width: 650px;
			padding: 80px 0;

			h1 {
				font-size: 40px;

				margin-bottom: 32px;
			}

			.subtitle {
				font-size: 26px;

				margin-bottom: 24px;

				@media (max-width: $laptopBP) {
					font-size: 20px;
					line-height: 25px;
				}

				@media (max-width: $tabletBP) {
					font-size: 16px;
					line-height: 20px;
				}
			}

			.inner__list {
				list-style-position: outside;

				li {
					max-width: 700px;
					font-size: 26px;

					padding-left: 24px;
					margin-left: 35px;
					position: relative;

					@media (max-width: $laptopBP) {
						font-size: 20px;
						line-height: 25px;
					}

					@media (max-width: $tabletBP) {
						font-size: 16px;
						line-height: 20px;
					}

					&::before {
						content: url(../images/svg/list-mark.svg);
						position: absolute;
						left: -36px;
						top: 0px;
					}
				}

				li + li {
					margin-top: 32px;
				}
			}
		}

		.evac-guide__inner__top {
			display: flex;
			height: 850px;

			.evac-guide__image {
				position: absolute;
				right: -274px;

				height: 850px;
			}
		}

		.evac-guide__inner__bot {
			display: flex;

			.evac-guide__image {
				position: relative;
				left: 0;

				height: 1200px;
			}

			.inner__text {
				background-color: #fff5cc;

				width: 700px;

				padding: 60px;
			}
		}
	}
}

/* ========================== /Evac-guide ========================== */

/* ========================== Tabs-block  ========================== */

.tabs-block {
	background-color: $secondaryBGColor;

	padding: 100px 0;

	.tabs-block__inner {
		position: relative;
		z-index: 2;

		.tabs-block__inner__buttons {
			display: flex;
			position: relative;
			margin-bottom: -1px;

			.tabs-block__inner__button {
				label {
					display: inline-block;

					font-size: 32px;

					padding: 20px 50px;

					transition: all 0.4s ease-in-out;

					@media (max-width: $laptopBP) {
						padding: 10px 20px;
						font-size: 24px;
					}

					@media (max-width: $mobileSecondBP) {
						padding: 10px 20px;
						font-size: 16px;
					}
				}

				input {
					height: 0;
					width: 0;
					-moz-appearance: none;
				}

				input:checked ~ label {
					border-radius: 20px 20px 0px 0px;
					background-color: white;

					box-shadow: 2px -4px 10px 0px rgba($color: #27343a, $alpha: 0.15);
				}
			}
		}

		.tabs-block__inner__items {
			.tabs-block__inner__item {
				box-shadow: 2px 2px 10px 2px rgba($color: #27343a, $alpha: 0.15);
				background-color: white;

				border-radius: 0 20px 20px 20px;

				height: 0;
				visibility: hidden;
				opacity: 0;
				padding: 0;

				* {
					display: none;
				}

				transition: opacity 0.4s ease-in-out;

				h1 {
					font-size: 40px;

					margin-bottom: 32px;

					@media (max-width: $laptopBP) {
						font-size: 30px;
					}

					@media (max-width: $mobileFirstBP) {
						font-size: 20px;
					}
				}

				&.howToOrder {
					border-radius: 20px;
				}

				&.tabs-block__inner__item--active {
					height: auto;

					visibility: visible;
					opacity: 1;
					padding: 60px;

					@media (max-width: $mobileFirstBP) {
						padding: 20px;
					}

					* {
						display: block;
					}
				}

				.inner__text {
					font-size: 26px;

					@media (max-width: $laptopBP) {
						font-size: 20px;
						line-height: 25px;
					}

					@media (max-width: $tabletBP) {
						font-size: 16px;
						line-height: 20px;
					}

					.text {
						margin-bottom: 20px;
					}

					.title {
						font-weight: bold;
						margin-bottom: 20px;
					}

					.inner__list {
						list-style-position: outside;
						margin-bottom: 20px;

						li {
							max-width: 700px;
							font-size: 26px;

							padding-left: 24px;
							margin-left: 35px;
							position: relative;

							@media (max-width: $laptopBP) {
								font-size: 20px;
								line-height: 25px;
							}

							@media (max-width: $tabletBP) {
								font-size: 16px;
								line-height: 20px;
							}

							&::before {
								content: url(../images/svg/list-mark.svg);
								position: absolute;
								left: -36px;
								top: 0px;
							}
						}

						li + li {
							margin-top: 32px;
						}
					}
				}

				.count__list {
					.count__list__item {
						display: flex;
						align-items: flex-start;
						gap: 16px;

						.number {
							min-height: 32px !important;
							min-width: 32px !important;
							max-height: 32px !important;
							max-width: 32px !important;

							line-height: 28px;
							font-size: 22px;

							border: 3px solid $mainBlueColor;
							border-radius: 50%;

							text-align: center;
						}
					}
				}
			}
		}
	}
}

/* ========================== /Tabs-block ========================== */

/* ========================== Page__info  ========================== */

.page__info {
	margin-bottom: $blockMarginDesktop;

	@media (max-width: $laptopBP) {
		margin-bottom: $blockMarginLaptop;
	}

	@media (max-width: $mobileFirstBP) {
		margin-bottom: $blockMarginMobile;
	}

	.page__info__inner {
		display: flex;
		gap: 10px;
		align-items: center;

		margin-bottom: 40px;

		.page__info__image {
			width: 104px;
			height: 93px;
		}

		.page__info__text {
			font-size: 26px;

			@media (max-width: $laptopBP) {
				font-size: 20px;
				line-height: 25px;
			}

			@media (max-width: $tabletBP) {
				font-size: 16px;
				line-height: 20px;
			}
		}
	}

	.page__form {
		.form__block {
			margin-bottom: 50px;

			text-align: center;

			.form__block__title {
				font-size: 26px;

				color: #4a585e;

				position: relative;
				z-index: 1;

				margin-bottom: 50px;

				hr {
					margin: 0;
					border-top: 1px solid $mainBlueColor;
				}

				.title {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);

					background-color: white;

					padding: 0 20px;
				}
			}

			.form__block__items {
				display: flex;
				flex-direction: column;
				align-items: center;

				.form__block__item {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 12px;

					&.form__block__item {
						width: 800px;

						@media (max-width: $tabletBP) {
							width: 600px;
						}

						@media (max-width: $mobileFirstBP) {
							width: 400px;
						}

						@media (max-width: $mobileSecondBP) {
							width: 300px;
						}
					}

					input[type="file"] {
						height: 0;
						width: 0;
						-moz-appearance: none;
						display: none;
					}

					.item__inner {
						display: flex;
						align-items: center;
						justify-content: space-between;
						gap: 15px;

						width: 800px;

						@media (max-width: $tabletBP) {
							width: 600px;
							flex-direction: column;
							align-items: flex-start;
						}

						@media (max-width: $mobileFirstBP) {
							width: 400px;
						}

						@media (max-width: $mobileSecondBP) {
							width: 300px;
						}

						.input,
						.checkbox {
							display: flex;
							align-items: center;
							gap: 16px;
						}

						input[type="text"] {
							width: 320px;

							@media (max-width: $mobileFirstBP) {
								width: 250px;
							}

							@media (max-width: $mobileSecondBP) {
								width: 200px;
							}
						}

						input[type="checkbox"] {
							width: 24px;
							height: 24px;
							outline: 1px solid $mainBlueColor;
							border-radius: 5px;
						}
					}

					.file__input__inner {
						label {
							display: inline-block;

							width: 335px;
							padding: 16px 0;

							border: 1px solid $mainBlueColor;
							color: $mainBlueColor;
							border-radius: 50px;

							transition: all 0.3s ease-in-out;

							&:hover {
								background-color: $mainBlueColor;
								color: white;
							}
						}
					}

					label {
						font-size: 22px;
					}

					input,
					select,
					textarea {
						width: 800px;
						padding: 12px 24px;

						border: 1px solid $mainBlueColor;
						border-radius: 10px;
						background-color: white;

						@media (max-width: $tabletBP) {
							width: 600px;
						}

						@media (max-width: $mobileFirstBP) {
							width: 400px;
						}

						@media (max-width: $mobileSecondBP) {
							width: 300px;
						}

						&::placeholder {
							color: #b3c8d1;
						}
					}

					textarea {
						height: 300px;
					}
				}

				.form__block__item + .form__block__item {
					margin-top: 30px;
				}
			}
		}

		.form__bot {
			display: flex;
			flex-direction: column;
			align-items: center;

			.form__bot__inner {
				display: flex;
				gap: 12px;
				align-items: flex-start;

				width: 800px;

				margin: 0 auto;

				margin-bottom: 20px;

				@media (max-width: $tabletBP) {
					width: 600px;
				}

				@media (max-width: $mobileFirstBP) {
					width: 400px;
				}

				@media (max-width: $mobileSecondBP) {
					width: 300px;
				}
			}
		}
	}
}

/* ========================== /Page__info  ========================== */

/* ========================== Footer ========================== */

.footer {
	padding: 40px 0;
	background-color: #586c75;

	@media (max-width: $mobileSecondBP) {
		padding: 20px 0;
	}

	.footer__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;

		@media (max-width: $tabletBP) {
			flex-direction: column;
			align-items: flex-start;
		}

		.footer__nav {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;

			.nav__item {
				color: white;

				@media (max-width: $laptopBP) {
					font-size: 12px;
				}
			}
		}
	}
}

/* ========================== /Footer ========================== */

/* ========================== Buttons ========================== */

.add__button,
.form__button {
	display: inline;

	padding: 16px 36px;

	font-size: 20px;
	text-transform: uppercase;

	color: white !important;
	background-color: $mainBlueColor;
	text-decoration: none !important;

	border-radius: 50px;

	white-space: nowrap;

	@media (max-width: $desktopBP) {
		font-size: 16px;
	}

	@media (max-width: $mobileSecondBP) {
		padding: 15px 18px;
	}

	&:hover {
		background-color: $mainBlueColorHover;
	}

	&:focus {
		background-color: $mainBlueColorClicked;
	}

	&:disabled {
		background-color: #b3c8d1;
	}
}

.header__burger {
	display: none;

	@media (max-width: $tabletBP) {
		display: block;
	}

	svg {
		height: 50px;
		width: 50px;

		fill: $mainBlueColor;
	}
}

.close__button {
	fill: red;

	position: absolute;
	right: 20px;
	top: 20px;

	svg {
		width: 50px;
		height: 50px;
	}
}

/* ========================== /Buttons ========================== */
