@mixin button($bgColor, $textColor, $bgColorHover, $colorHover, $outline) {
	background-color: $bgColor;
	color: $textColor;

	width: 265px;
	height: 72px;

	outline: $outline;

	border-radius: 66px;

	transition: all 0.3s ease-in-out;

	font-size: 16px;
	font-weight: 500;
	font-family: $fontGolosText;

	padding: 0 50px;

	@media (max-width: 1224px) {
		width: 335px;
		height: 47px;
		padding: 0 5px;
	}

	

	&:hover {
		background-color: $bgColorHover;
		color: $colorHover;
	}
}
