$defaultColorBlack: rgba(49, 49, 49, 1);
$defaultColorYellow: rgba(251, 206, 81, 1);
$defaultColorBlue: rgba(48, 87, 162, 1);
$defaultColorRed: rgba(245, 73, 50, 1);
$disabledColor: rgba(214, 214, 214, 1);

$fontGolosText: "Golos Text";
$fontMerriweather: "Merriweather";
