body {
  background-repeat: no-repeat;
  background-attachment: fixed;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  display: block;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  border: none;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* ========================== Container ========================== */
.container {
  max-width: 1222px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1236px) {
  .container {
    padding: 0 20px;
  }
}

/* ========================== /Container ========================== */
.marquee {
  background-color: rgb(245, 73, 50);
  color: #fff;
}
.marquee .marquee__inner {
  display: flex;
  padding: 18px 0;
}
.marquee .marquee__inner .marquee__item {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 400;
}
.marquee .marquee__inner .marquee__item::after {
  display: block;
  content: "";
  height: 6px;
  width: 6px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #fff;
}

.switch--bottom {
  display: none;
  justify-content: center;
  margin-top: 40px;
}
@media (max-width: 992px) {
  .switch--bottom {
    display: flex;
  }
}

.members__slider {
  margin-top: 60px;
  overflow: hidden;
  width: 1222px;
  margin: 60px auto 0;
}
@media (max-width: 1280px) {
  .members__slider {
    width: 800px;
  }
}
@media (max-width: 992px) {
  .members__slider {
    width: 375px;
  }
}
.members__slider .slider__line {
  display: flex;
  gap: 131px;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.members__slider .slider__line .slider__item {
  margin: 2px 0;
  text-align: center;
  min-width: 320px;
}
.members__slider .slider__line .slider__item:first-child {
  margin-left: 27px;
}
@media (max-width: 400px) {
  .members__slider .slider__line .slider__item {
    min-width: 250px;
  }
}
.members__slider .slider__line .slider__item .name {
  margin-top: 28px;
  font-size: 24px;
  font-weight: 600;
  font-family: "Golos Text";
}
.members__slider .slider__line .slider__item .status {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Golos Text";
  color: rgb(49, 49, 49);
}

/* ========================== Body ========================== */
body {
  font-family: "Merriweather";
}

/* ========================== Body ========================== */
/* ========================== Intro ========================== */
.section__intro .intro__inner {
  background: url("/assets/images/intro/bg.jpg") no-repeat;
  background-position: center center;
  height: 700px;
}
@media (max-width: 768px) {
  .section__intro .intro__inner {
    background-position: center right;
    background-position-x: -700px;
  }
}
@media (max-width: 375px) {
  .section__intro .intro__inner {
    background: url("/assets/images/intro/bg-adaptive.jpg") no-repeat;
  }
}
.section__intro .intro__inner .intro__content {
  display: inline-block;
}
.section__intro .intro__inner .intro__content .intro__logo {
  display: flex;
  align-items: center;
  padding-top: 25px;
}
.section__intro .intro__inner .intro__content .intro__logo .text {
  color: rgb(49, 49, 49);
  font-size: 16px;
  font-weight: 700;
  font-family: "Golos Text";
  line-height: 16px;
  margin-left: 6px;
}
.section__intro .intro__inner .intro__content .title {
  margin-top: 70px;
  font-size: 60px;
  line-height: 66px;
  font-weight: 400;
  text-transform: uppercase;
}
.section__intro .intro__inner .intro__content .title .title__middle {
  margin-left: 95px;
}
.section__intro .intro__inner .intro__content .title .title__bottom {
  margin-left: 38px;
}
@media (max-width: 1224px) {
  .section__intro .intro__inner .intro__content .title {
    font-size: 44px;
    line-height: 50px;
  }
}
@media (max-width: 992px) {
  .section__intro .intro__inner .intro__content .title {
    font-size: 36px;
    line-height: 39px;
  }
}
@media (max-width: 375px) {
  .section__intro .intro__inner .intro__content .title {
    margin-top: 40px;
  }
}
.section__intro .intro__inner .intro__content .subtitle {
  margin-top: 30px;
  font-size: 18px;
  line-height: 24px;
  font-family: "Golos Text";
  text-align: center;
}
@media (max-width: 992px) {
  .section__intro .intro__inner .intro__content .subtitle {
    font-size: 16px;
    text-align: left;
  }
}
@media (max-width: 576px) {
  .section__intro .intro__inner .intro__content .subtitle {
    text-align: left;
  }
  .section__intro .intro__inner .intro__content .subtitle br {
    display: none;
  }
}
.section__intro .intro__inner .intro__content .buttons {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
@media (max-width: 1224px) {
  .section__intro .intro__inner .intro__content .buttons {
    flex-direction: column;
  }
}
.section__intro .intro__inner .intro__content .buttons button + button {
  margin-left: 15px;
}
@media (max-width: 1224px) {
  .section__intro .intro__inner .intro__content .buttons button + button {
    margin-left: 0px;
    margin-top: 15px;
  }
}

/* ========================== /Intro ========================== */
/* ========================== Support ========================== */
.section__support {
  margin-top: 70px;
}
.section__support .support__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}
@media (max-width: 992px) {
  .section__support .support__inner {
    flex-direction: column;
    gap: 25px;
  }
}
.section__support .support__inner .support__content {
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
}
@media (max-width: 1224px) {
  .section__support .support__inner .support__content {
    font-size: 44px;
    line-height: 50px;
  }
}
@media (max-width: 992px) {
  .section__support .support__inner .support__content {
    font-size: 36px;
    line-height: 39px;
  }
}
@media (max-width: 375px) {
  .section__support .support__inner .support__content {
    margin-top: 40px;
  }
}
.section__support .support__inner .support__content > span {
  color: rgb(245, 73, 50);
  font-weight: 700;
}

/* ========================== /Support ========================== */
/* ========================== /Session ========================== */
.section__session {
  margin-top: 70px;
}
.section__session .session__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 44px;
}
@media (max-width: 1224px) {
  .section__session .session__inner {
    flex-direction: column;
  }
}
@media (max-width: 1224px) {
  .section__session .session__inner {
    gap: 24px;
  }
}
.section__session .session__inner .session__content .text {
  font-size: 34px;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
}
.section__session .session__inner .session__content .text > span {
  color: rgb(245, 73, 50);
  font-weight: 700;
}
.section__session .session__inner .session__content .session__table {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 400;
  font-family: "Golos Text";
  border: 3px solid transparent;
}
@media (max-width: 1224px) {
  .section__session .session__inner .session__content .session__table {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .section__session .session__inner .session__content .session__table {
    display: none;
  }
}
.section__session .session__inner .session__content .session__table td {
  padding: 16px 0;
  border: 2px solid rgb(208, 208, 208);
  text-align: left;
  width: 310px;
  vertical-align: middle;
}
@media (max-width: 1224px) {
  .section__session .session__inner .session__content .session__table td {
    width: 250px;
    padding: 24px 0;
  }
}
.section__session .session__inner .session__content .session__table .td__right {
  padding-left: 16px;
  font-weight: 600;
}
.section__session .session__inner .session__content .session__table .td__right > span {
  text-decoration: line-through;
  text-decoration-color: rgb(245, 73, 50);
}
.section__session .session__inner .session__content .session__table--adaptive {
  display: none;
  margin-top: 44px;
}
.section__session .session__inner .session__content .session__table--adaptive td {
  width: 600px;
  padding: 16px 0;
}
.section__session .session__inner .session__content .session__table--adaptive tr {
  width: 100%;
  margin: 16px;
  border-bottom: 2px solid rgb(208, 208, 208);
}
.section__session .session__inner .session__content .session__table--adaptive tr > td {
  font-family: "Golos Text";
}
.section__session .session__inner .session__content .session__table--adaptive tr > td .title {
  color: rgb(49, 49, 49);
  font-size: 20px;
  font-weight: 400;
}
.section__session .session__inner .session__content .session__table--adaptive tr > td .value {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 12px;
}
.section__session .session__inner .session__content .session__table--adaptive tr > td .value:last-child > span {
  text-decoration: line-through;
  text-decoration-color: rgb(245, 73, 50);
}
@media (max-width: 576px) {
  .section__session .session__inner .session__content .session__table--adaptive {
    display: block;
  }
}
.section__session .session__inner .session__content .info {
  margin-top: 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  font-family: "Golos Text";
  color: rgb(48, 87, 162);
}
@media (max-width: 576px) {
  .section__session .session__inner .session__content {
    margin-top: 40px;
  }
}

/* ========================== /Session ========================== */
/* ========================== Stages ========================== */
.section__stages {
  margin-top: 70px;
}
.section__stages .stages__title {
  font-weight: 400;
  font-size: 54px;
  line-height: 64px;
  text-transform: uppercase;
}
.section__stages .stages__title > div:last-child {
  display: flex;
  align-items: center;
  gap: 25px;
}
@media (max-width: 1280px) {
  .section__stages .stages__title {
    display: none;
  }
}
@media (max-width: 992px) {
  .section__stages .stages__title {
    font-size: 40px;
    line-height: 60px;
  }
}
.section__stages .stages__title div > span {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Golos Text";
  color: rgb(48, 87, 162);
}
.section__stages .stages__title--adaptive {
  display: none;
}
@media (max-width: 1280px) {
  .section__stages .stages__title--adaptive {
    display: block;
  }
}
.section__stages .switch--bottom {
  display: none;
  justify-content: center;
  margin-top: 40px;
}
@media (max-width: 992px) {
  .section__stages .switch--bottom {
    display: flex;
    align-items: center;
  }
}
.section__stages .switch--bottom .count__dots {
  display: flex;
  margin: 0px 16px;
}
.section__stages .switch--bottom .count__dots .count__item {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(217, 217, 217);
}
.section__stages .switch--bottom .count__dots .count__item.active {
  background-color: rgb(49, 49, 49);
}
.section__stages .switch--bottom .count__dots .count__item + .count__item {
  margin-left: 6px;
}
.section__stages .stages__item {
  display: flex;
  gap: 16px;
  width: 394px;
  height: 136px;
  background-image: url("/assets/images/stages/stages-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
@media (max-width: 1280px) {
  .section__stages .stages__item {
    background-image: none;
  }
}
.section__stages .stages__item.stages__item--large {
  height: 292px;
  background-image: url("/assets/images/stages/stages-bg-lg.jpg");
}
.section__stages .stages__item.stages__item--long {
  width: 808px;
  background-image: url("/assets/images/stages/stages-bg-lg.jpg");
  position: relative;
}
.section__stages .stages__item:first-child {
  position: relative;
}
.section__stages .stages__item:first-child img {
  position: absolute;
  left: 50%;
  bottom: 160px;
  transform: translateX(-50%);
  z-index: 1000;
}
@media (max-width: 576px) {
  .section__stages .stages__item:first-child img {
    height: 180px;
  }
}
.section__stages .stages__item .number {
  font-size: 20px;
  line-height: 35px;
  font-weight: 600;
  font-family: "Golos Text";
  background-color: #fff;
  color: rgb(49, 49, 49);
  border-radius: 18px;
  width: 36px;
  height: 36px;
  text-align: center;
}
.section__stages .stages__item .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  font-family: "Golos Text";
  width: 300px;
}
@media (max-width: 576px) {
  .section__stages .stages__item .title {
    width: 250px;
  }
}
.section__stages .stages__inner {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section__stages .stages__inner .stages__top {
  display: flex;
  gap: 20px;
}
.section__stages .stages__inner .stages__top > div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 40%;
}
.section__stages .stages__inner .stages__bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 1280px) {
  .section__stages .stages__inner {
    display: none;
  }
}
.section__stages .stages__slider {
  display: none;
  padding-top: 150px !important;
  overflow: hidden;
  width: 1222px;
  margin: 60px auto 0;
}
@media (max-width: 1280px) {
  .section__stages .stages__slider {
    display: block;
    width: 830px;
  }
}
@media (max-width: 992px) {
  .section__stages .stages__slider {
    width: 450px;
  }
}
@media (max-width: 576px) {
  .section__stages .stages__slider {
    width: 350px;
  }
}
.section__stages .stages__slider .slider__line {
  display: flex;
  gap: 61px;
  position: relative;
  left: 0;
  transition: all ease 1s;
  overflow-y: revert;
}
.section__stages .stages__slider .slider__line .slider__item {
  min-width: 385px;
  height: 400px;
  padding-top: 100px;
  margin: 2px 0;
  background-image: url(/assets/images/stages/stages-bg.jpg);
}
@media (max-width: 992px) {
  .section__stages .stages__slider .slider__line .slider__item:first-child {
    margin-left: 32px;
  }
}
@media (max-width: 576px) {
  .section__stages .stages__slider .slider__line .slider__item:first-child {
    margin-left: 0;
  }
}
.section__stages .stages__slider .slider__line .slider__item .name {
  margin-top: 28px;
  font-size: 24px;
  font-weight: 600;
  font-family: "Golos Text";
}
.section__stages .stages__slider .slider__line .slider__item .status {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Golos Text";
  color: rgb(49, 49, 49);
}

/* ========================== /Stages ========================== */
/* ========================== Members ========================== */
.section__members {
  margin-top: 200px;
}
.section__members .switch--top {
  display: flex;
}
@media (max-width: 992px) {
  .section__members .switch--top {
    display: none;
  }
}
.section__members .switch--bottom {
  display: none;
  justify-content: center;
  margin-top: 40px;
}
@media (max-width: 992px) {
  .section__members .switch--bottom {
    display: flex;
  }
}
.section__members .switch {
  align-items: center;
  gap: 15px;
  font-family: "Golos Text";
  font-size: 16px;
  font-weight: 400;
}
.section__members .members__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .section__members .members__top {
    justify-content: center;
  }
}
.section__members .members__top .title {
  font-size: 54px;
  font-weight: 400;
  font-family: "Merriweather";
  text-transform: uppercase;
}
@media (max-width: 1280px) {
  .section__members .members__top .title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .section__members .members__top .title {
    font-size: 30px;
  }
}
.section__members .members__slider {
  margin-top: 60px;
  overflow: hidden;
  width: 1222px;
  margin: 60px auto 0;
}
@media (max-width: 1280px) {
  .section__members .members__slider {
    width: 800px;
  }
}
@media (max-width: 992px) {
  .section__members .members__slider {
    width: 350px;
  }
}
@media (max-width: 576px) {
  .section__members .members__slider {
    width: 260px;
  }
}
@media (max-width: 992px) {
  .section__members .members__slider {
    width: 350px;
  }
}
.section__members .members__slider .slider__line--members {
  display: flex;
  gap: 131px;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
@media (max-width: 400px) {
  .section__members .members__slider .slider__line--members {
    gap: 203px;
  }
}
.section__members .members__slider .slider__line--members .slider__item {
  margin: 2px 0;
  text-align: center;
  min-width: 320px;
}
@media (max-width: 992px) {
  .section__members .members__slider .slider__line--members .slider__item:first-child {
    margin-left: 17px;
  }
}
@media (max-width: 400px) {
  .section__members .members__slider .slider__line--members .slider__item:first-child {
    margin-left: 50px;
  }
}
@media (max-width: 400px) {
  .section__members .members__slider .slider__line--members .slider__item {
    min-width: 250px;
  }
}
.section__members .members__slider .slider__line--members .slider__item .name {
  margin-top: 28px;
  font-size: 24px;
  font-weight: 600;
  font-family: "Golos Text";
}
.section__members .members__slider .slider__line--members .slider__item .status {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Golos Text";
  color: rgb(49, 49, 49);
}

/* ========================== Footer ========================== */
.section__footer {
  margin-top: 160px;
}
.section__footer .footer__inner {
  background-color: rgb(233, 222, 212);
  padding: 40px 72px;
}
@media (max-width: 992px) {
  .section__footer .footer__inner {
    padding: 40px 30px;
  }
}
.section__footer .footer__inner .text {
  font-size: 16px;
  font-weight: 400;
  color: rgb(49, 49, 49);
  font-family: "Golos Text";
}

/* ========================== Footer ========================== */
/* ========================== Buttons ========================== */
.button__main {
  background-color: rgb(49, 49, 49);
  color: #fff;
  width: 265px;
  height: 72px;
  outline: none;
  border-radius: 66px;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-weight: 500;
  font-family: "Golos Text";
  padding: 0 50px;
}
@media (max-width: 1224px) {
  .button__main {
    width: 335px;
    height: 47px;
    padding: 0 5px;
  }
}
.button__main:hover {
  background-color: rgb(251, 206, 81);
  color: rgb(49, 49, 49);
}

@media (max-width: 768px) {
  .button__secondary {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(49, 49, 49);
    width: 265px;
    height: 72px;
    outline: none;
    border-radius: 66px;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    font-weight: 500;
    font-family: "Golos Text";
    padding: 0 50px;
  }
}
@media (max-width: 768px) and (max-width: 1224px) {
  .button__secondary {
    width: 335px;
    height: 47px;
    padding: 0 5px;
  }
}
@media (max-width: 768px) {
  .button__secondary:hover {
    background-color: rgb(49, 49, 49);
    color: #fff;
  }
}

.buttons__slider {
  margin-top: 20px;
  padding: 12px;
  font-size: 16px;
  border-radius: 62px;
  outline: 1px solid rgb(48, 87, 162);
  color: rgb(48, 87, 162);
  transition: all 0.3s ease-in-out;
}

.buttons__slider:hover {
  background-color: rgb(48, 87, 162);
  color: #fff;
}

.members__button,
.stages__button {
  width: 44px;
  height: 44px;
  background-color: rgb(49, 49, 49);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.members__button .slider__svg,
.stages__button .slider__svg {
  width: 44px;
  height: 42px;
  fill: #fff;
}
.members__button.members__button--next .slider__svg, .members__button.stages__button--next .slider__svg,
.stages__button.members__button--next .slider__svg,
.stages__button.stages__button--next .slider__svg {
  rotate: 180deg;
}
.members__button:hover,
.stages__button:hover {
  background-color: rgb(251, 206, 81);
}
.members__button:disabled,
.stages__button:disabled {
  background-color: rgb(214, 214, 214);
}

/* ========================== /Buttons ========================== */
/* ========================== Images ========================== */
.stages__image {
  position: absolute;
  right: -60px;
  top: 20px;
  transform: translateY(-50%);
}

/* ========================== /Images ========================== */