$blueDefault: #1814f3;
$blueHover: #0f0e68;

$greyDefault: #b1b1b1;
$greyHover: #838383;

$skyDefault: #718ebf;
$blackDefault: #232323;

$whiteDefault: #fff;

$interFont: "inter";

@font-face {
	font-family: "inter";
	src: url("./font/inter-font.ttf");
}
